/* Wildcard settings for all items on the page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Sets the background color to the whole page */
body {
    background-color: #74bee3;
    height: 100vh;
}

/* Sets the height of the header and separates the h1 from the navigation */
header {
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

/* Styles the h1 in the style of the Settlers of Catan box */
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    font-size: 48px;
    color: #fdcc06;
    background-color: #bd202b;
}

/* Styles the navigation links to have room for the hexes around them */
nav {
    display: flex;
}

nav ul {
    width: 1000px;
    align-self: center;
    justify-content: space-evenly;
    height: 100%;
}   

nav li {
    display: inline-flex;
    padding: 5%;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

/* Styles the outer-hex (border) and the inner hex for each of the navigation links */
.outer-hex {
    background: #f3cc75;
    height: 200px;
    width: 200px;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    display: inline-flex;
}

.inner-hex {
    position: relative;
    width: 180px;
    height: 180px;
    top: 10px;
    left: 10px;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    z-index: -1;
}

/* Sets the colors for all 5 hexes */
.hex1 {
    background: #859d3b;
    color: #39553c;
}

.hex2 {
    background: #39553c;
    color: #f2ae4b;
}

.hex3 {
    background: #a67149;
    color: #39553c;
}

.hex4 {
    background: #f2ae4b;
    color: #39553c;
}

.hex5 {
    background: #827d69;
    color: #f2ae4b;
}

/* Spaces out all sections of the website to take up more room and allows the sections to "breathe" and not feel so constricted */
header {
    margin-top: 75px;
}

.aboutMe, .portfolio, .resume, .links {
    margin: 150px 0;
}

/* Sets the About Me section's height */
.aboutMe {
    height: 450px;
}

/* Sets the size, placement, and rounded corners for the headshot and resume icon */
.headshot, .resumeIcon {
    width: 300px;
    height: 375px;
    float: left;
    margin-left: 15%;
    border-radius: 20px;
}

/* Sizes the bio and skills sub-sections to allow room for the headshot and resume icon */
.bio, .skills {
    margin-left: 35%;
    margin-right: 15%;
}

/* Styles all section titles */
h2 {
    font-size: 36px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

/* Styles all paragraph elements for legibility*/
p {
    font-size: 24px;
    font-weight: bold;
}

/* Gives the section titles and paragraphs more room */
h2, p {
    padding: 35px;
}

/* Styles the "card" containing the headshot */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* width: 40%; */
    border-radius: 5px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.border1 {
    border: 5px solid #f3cc75;
}

/* Colors the links in the About Me section */
.aboutMe a {
    color: #fdcc06;
}

.aboutMe a:hover {
    color: #bd202b;
}

/* Sets the width of all sections except for About Me and Resume */
.portfolio h2, .contactForm, .links {
    width: 70%;
    margin: 0 15%;
}

/* Allows the projects to wrap in rows */
.project-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Sets the sizes of all projects in .project-list */
.projectCard {
    padding: 5%;
    width: 40%;
    height: 40%;
}

/* Sets image sizes of project images */
.projectCard img {
    width: 100%;
}

/* Sets border color of images for project when the user hovers over them */
.projectCard img:hover {
    border: 5px solid #bd202b;
}

/* Centers the text under each project */
.projectCard h3 {
    font-size: 24px;
    text-align: center;
    padding: 35px;
}

/* Centers the text in the Contact section */
.contactInfo p {
    text-align: center;
}

/* Colors the resume icon border when the user hovers over it */
.resumeIcon:hover {
    border: 5px solid #bd202b;
}

/* Centers the text in the Links section with their icons */
.extLinks p {
    display: flex;
    justify-content: center;
    align-self: center;
}

/* Resizes the icons and links */
.extLinks a {
    max-height: 48px;
}

.extLinks img {
    max-width: 48px;
}

/* Makes all projects a single column on smaller mobile devices */
@media screen and (max-width: 767px) { 
    header {
        width: 100%;
    }
    
    .name {
        width: 100%;
    }

    .extLinks p {
        font-size: 18px;
    }
}

/* Makes the website mobile-friendly on larger devices */
@media screen and (max-width: 1024px) {
    * {
        text-align: center;
    }

    .app {
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    header {
        flex-flow: column;
        margin-top: 25px;
        height: 50%;
    }

    .name {
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
    }

    .outer-hex {
        height: 150px;
        width: 150px;
    }

    .inner-hex {
        height: 125px;
        width: 125px;
        top: 12px;
        left: 12px;
    }

    .aboutMe, .portfolio, .contactForm, .resume, .links {
        display: flex;
        flex-direction: column;
        margin: 75px 0;
    }

    .aboutMe {
        height: fit-content;
    }

    .headshot, .resumeIcon {
        margin: 20px auto;
    }

    .bio, .contactForm, .skills, .links {
        padding: 0%;
        width: 90%;
        margin: auto;
    }

    .portfolio h2 {
        width: 90%;
        margin: auto;
    }

    .projectCard {
        margin: 30px 0;
        width: 85%;
        margin: auto;
    }
    
    .resumeIcon {
        float: none;
    }
}

/* Reduces margin for headshot, resumeIcon, bio, and skills with larger screens  */
@media screen and (min-width: 1025px) and (max-width: 1500px) {
    .headshot, .resumeIcon {
        margin-left: 5%;
    }

    .bio, .skills {
        margin-right: 5%;
    }
}